HOST_IP=127.0.0.1

DEV_NAMECHEAP_API_KEY=API-KEY
DEV_NAMECHEAP_API_USERNAME=username

PROD_NAMECHEAP_API_KEY=API-KEY
PROD_NAMECHEAP_API_USERNAME=username

DEV_HOST_STORE=./subdomain--dev-host.json
PROD_HOST_STORE=./subdomain--prod-host.json

HTTP_PORT=8000
WHITELISTED_IPS=127.0.0.1,0.0.0.0,[::1]

